/* Définir la font-face */
@font-face {
  font-family: 'Graphik';
  src: url('../assets/fonts/Graphik-Regular.woff'),
  url('../assets/fonts/Graphik-Regular.ttf') format('truetype'),
  url('../assets/fonts/Graphik-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  src: url('../assets/fonts/Graphik-Bold.woff'),
  url('../assets/fonts/Graphik-Bold.ttf') format('truetype'),
  url('../assets/fonts/Graphik-Bold.otf') format('opentype');
}

/* Appliquer globalement */
*{
  margin: 0;
  padding: 0;
  font-family: "Graphik", sans-serif;
}

h1, h2 , h3 , h4, h5, strong{
  font-weight: 600;
}

p, span{
  font-weight: 400;
}